title СайтПросто. Делаем продающие сайты
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="content-type" content="text/html; charset=UTF-8")
meta(http-equiv="Content-Language" content="ru")
meta(property="og:image" content="path/to/image.jpg")
meta(property="og:locale" content="ru_RU")
meta(property="og:title" content="СайтПросто. Продающие сайты в Омске. Создание, продвижение, раскрутка, реклама, дизайн.")
meta(property="og:description" content="Мы делаем упор на продающие сайты. Разработка сайтов любой сложности от визитки до интернет-магазина. Учтем все Ваши пожелания.")
meta(name="description" content="Поможем Вам увеличить поток клиентов и продажи. Создаем продающие сайты в Омске, разработка, дизайн сайтов и логотипов, продвижение в Яндекс и Google, реклама, оптимизация.")
meta(name="keywords" content="сайт, создание сайта, web сайт, веб сайт, разработка сайта, изготовление сайта, продвижение, оптимизация")
meta(name="robots" content="index")
meta(name="yandex-verification" content="3d685a45b9d86c2b")
//Chrome, Firefox OS and Opera
meta(name="theme-color" content="#000") 
//Windows Phone
meta(name="msapplication-navbutton-color" content="#000") 
//iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content="#000") 
link(rel="stylesheet" href="libs/animate.css/animate.min.css" media="all")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pattaya|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=cyrillic")
link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css")
link(rel="stylesheet" href="css/main.css" media="all")
link(rel="stylesheet" href="css/media.css" media="all")
script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")